@font-face {
    font-family: 'Pokemon-GB';
    src: url('../assets/pokemon-gb-font.ttf');
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
} 

@keyframes shake {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(15px);}
} 

body {
    font-family: 'Pokemon-GB', Arial, sans-serif;
    color: slategray;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 20px;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img {
    filter: grayscale(0%);
}

img {
    filter:grayscale(100%);
    width: 20vw;
}

footer {
    font-size: 0.7rem;
    bottom: 0;
    text-align: right;
    padding: 10px;
}

#grass-icon {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 10px;
}

#fire-icon {
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 10px;
}

#water-icon {
    background-color: lightskyblue;
    border-radius: 5px;
    padding: 10px;
}

.green-text {
    color: lightgreen;
}

.red-text {
    color: lightsalmon;
}

.blue-text {
    color: lightskyblue;
}

#error {
    color: red;
}

#play-button {
    font-family: 'Pokemon-GB', Arial, sans-serif;
    padding: 20px;
    background-color: slategrey;
    color: whitesmoke;
}

#result {
    font-size: 2rem;
}

#select-pokemon {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

.hidden {
    display: none;
}

.win {
    animation: bounce;
    animation-duration: 1s;
}

.tie {
    animation: shake;
    animation-duration: 1s;
}

.bounce {
    animation-name: bounce;
}

.shake {
    animation-name: shake;
}